<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="arm_control" params="name serial_port mx_ids offsets is_direct reductions force_sensor_id fan_id">




    <xacro:include filename="$(find reachy_description)/ros2_control/joint.ros2_control.xacro"/>

    <ros2_control name="${name}_arm" type="system">
      <hardware>
        <xacro:unless value="$(arg use_fake_hardware)">
          <plugin>arm_system_hwi/ArmSystem</plugin>
          <param name="serial_port">${serial_port}</param>
          <param name="mx_ids">${mx_ids}</param>
          <param name="offsets">${offsets}</param>
          <param name="is_direct">${is_direct}</param>
          <param name="reductions">${reductions}</param>
          <param name="force_sensor_id">${force_sensor_id}</param>
          <param name="fan_id">${fan_id}</param>
        </xacro:unless>

        <xacro:if value="$(arg use_fake_hardware)">
          <!-- Use gazebo as hardware simulation. -->
          <xacro:if value="$(arg use_gazebo)">
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
          </xacro:if>

          <!-- Use fake components. -->
          <xacro:unless value="$(arg use_gazebo)">
            <plugin>mock_components/GenericSystem</plugin>
          </xacro:unless>
        </xacro:if>
      </hardware>
      <xacro:position_joint_control name="${name}_shoulder_pitch"/>
      <xacro:position_joint_control name="${name}_shoulder_roll"/>
      <xacro:position_joint_control name="${name}_arm_yaw"/>
      <xacro:position_joint_control name="${name}_elbow_pitch"/>
      <xacro:position_joint_control name="${name}_forearm_yaw"/>
      <xacro:position_joint_control name="${name}_wrist_pitch"/>
      <xacro:position_joint_control name="${name}_wrist_roll"/>
      <xacro:position_joint_control name="${name}_gripper"/>

      <sensor name="${name}_force_gripper">
        <state_interface name="force">
          <param name="initial_value">0.0</param>
        </state_interface>
      </sensor>

      <joint name="${name}_shoulder_fan">
        <state_interface name="state">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="state"/>
      </joint>

      <joint name="${name}_elbow_fan">
        <state_interface name="state">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="state"/>
      </joint>

      <joint name="${name}_wrist_fan">
        <state_interface name="state">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="state"/>
      </joint>

    </ros2_control>

  </xacro:macro>


</robot>
