<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="arm_control" params="name">

    <xacro:include filename="$(find reachy_description)/ros2_control/joint.ros2_control.xacro"/>

    <ros2_control name="${name}_arm" type="system">
      <hardware>
        <xacro:unless value="$(arg use_fake_hardware)">
          <plugin>arm_system_hwi/ArmSystem</plugin>
          <param name="serial_port">/dev/ttyACM0</param>
          <param name="mx_ids">10, 11, 12, 13, 14, 15, 16, 17</param>
          <param name="offsets">1.57, 1.57, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0</param>
          <param name="is_direct">0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0</param>
          <param name="reductions">1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, -2.0</param>
          <param name="force_sensor_id">40</param>
          <param name="fan_id">41</param>

        </xacro:unless>

        <xacro:if value="$(arg use_fake_hardware)">
          <!-- Use gazebo as hardware simulation. -->
          <xacro:if value="$(arg use_gazebo)">
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
          </xacro:if>

          <!-- Use fake components. -->
          <xacro:unless value="$(arg use_gazebo)">
            <plugin>fake_components/GenericSystem</plugin>
          </xacro:unless>
        </xacro:if>
      </hardware>
      <xacro:position_joint_control name="${name}_shoulder_pitch"/>
      <xacro:position_joint_control name="${name}_shoulder_roll"/>
      <xacro:position_joint_control name="${name}_arm_yaw"/>
      <xacro:position_joint_control name="${name}_elbow_pitch"/>
      <xacro:position_joint_control name="${name}_forearm_yaw"/>
      <xacro:position_joint_control name="${name}_wrist_pitch"/>
      <xacro:position_joint_control name="${name}_wrist_roll"/>
      <xacro:position_joint_control name="${name}_gripper"/>

      <sensor name="${name}_force_gripper">
        <state_interface name="force">
          <param name="initial_value">0.0</param>
        </state_interface>
      </sensor>

      <joint name="${name}_shoulder_fan">
        <state_interface name="state">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="state"/>
      </joint>

      <joint name="${name}_elbow_fan">
        <state_interface name="state">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="state"/>
      </joint>

      <joint name="${name}_wrist_fan">
        <state_interface name="state">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="state"/>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>
