<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="head_control">




        <xacro:include filename="$(find reachy_description)/ros2_control/joint.ros2_control.xacro"/>

        <ros2_control name="head" type="system">
            <hardware>
                <xacro:unless value="$(arg use_fake_hardware)">
                    <!--                    <plugin>head_system_hwi/HeadSystem</plugin>-->

                    <plugin>mock_components/GenericSystem</plugin>

                </xacro:unless>


                <xacro:if value="$(arg use_fake_hardware)">
                    <!-- Use gazebo as hardware simulation. -->
                    <xacro:if value="$(arg use_gazebo)">
                        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                    </xacro:if>

                    <!-- Use fake components. -->
                    <xacro:unless value="$(arg use_gazebo)">
                        <plugin>mock_components/GenericSystem</plugin>
                    </xacro:unless>
                </xacro:if>
            </hardware>
                 <xacro:position_joint_control name="neck_roll"/>
                 <xacro:position_joint_control name="neck_pitch"/>
                 <xacro:position_joint_control name="neck_yaw"/>
        </ros2_control>

        <ros2_control name="antennas" type="system">
            <hardware>
                <xacro:unless value="$(arg use_fake_hardware)">
                    <plugin>head_system_hwi/HeadSystem</plugin>
                    <param name="serial_port">/dev/usb2ax_head</param>
                    <param name="xl320_ids">30, 31</param>
                    <param name="offsets">0.0, 0.0</param>
                    <param name="is_direct">0.0, 0.0</param>
                    <param name="reductions">1.0, 1.0</param>
                    <param name="fan_id">60</param>
                    <!--          <plugin>mock_components/GenericSystem</plugin>-->
                </xacro:unless>

                <xacro:if value="$(arg use_fake_hardware)">
                    <!-- Use gazebo as hardware simulation. -->
                    <xacro:if value="$(arg use_gazebo)">
                        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                    </xacro:if>

                    <!-- Use fake components. -->
                    <xacro:unless value="$(arg use_gazebo)">
                        <plugin>mock_components/GenericSystem</plugin>
                    </xacro:unless>
                </xacro:if>
            </hardware>
            <xacro:position_joint_control name="l_antenna"/>
            <xacro:position_joint_control name="r_antenna"/>

            <joint name="l_antenna_fan">
                <state_interface name="state">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <command_interface name="state"/>
            </joint>
            <joint name="r_antenna_fan">
                <state_interface name="state">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <command_interface name="state"/>
            </joint>
        </ros2_control>

    </xacro:macro>
</robot>
