<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zuuu">
  <xacro:arg name="prefix" default=""/>

  <xacro:arg name="model" default="" />

  <xacro:arg name="use_gazebo" default="true"/>
  <xacro:arg name="use_fake_components" default="true"/>
  <xacro:arg name="use_fixed_wheels" default="true"/>
  <xacro:arg name="use_ros_control" default="true"/>

  <!-- Import zuuu macro -->
  <xacro:include filename="$(find zuuu_description)/urdf/zuuu_description.urdf.xacro"/>

  <!-- Import Gazebo macro -->
  <xacro:include filename="$(find zuuu_description)/urdf/zuuu.gazebo.xacro"/>

  <!-- Import Zuuu ros2_control description -->
  <xacro:include filename="$(find zuuu_description)/urdf/zuuu.ros2_control.xacro"/>

  <xacro:zuuu 
    model="$(arg model)" prefix="$(arg prefix)">
  </xacro:zuuu> 

  <xacro:if value="$(arg use_gazebo)">
    <xacro:zuuu_gazebo model="$(arg model)" prefix="$(arg prefix)" />
  </xacro:if>

  <xacro:if value="$(arg use_ros_control)">
    <xacro:zuuu_ros2_control model="$(arg model)" prefix="$(arg prefix)"/>
  </xacro:if>

</robot>